#cnblogs_post_body .cnblogs_code {
  /* background-color: rgba(152, 147, 147, 0.28); */
  /* border: 1px solid rgba(255, 251, 251, 0); */
  border-radius: 4px;
  color: #000;
  font-family: Courier New !important;
  font-size: 13px !important;
  margin: 5px 0;
  overflow: auto;
  padding: 5px;
}
.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #332870 !important;
}

.hljs-emphasis,
.hljs-strong {
  color: #a8a8a2 !important;
}
.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #bababa !important;
}

.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp {
  color: #27c94a !important;
}

.hljs-code,
.hljs-selector-class {
  color: #eeff00 !important;
}

.hljs-emphasis {
  font-style: italic !important;
}

.hljs-attribute,
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-variable {
  color: #00c3ff !important;
}

.hljs-attr,
.hljs-params {
  color: #b9b9b9 !important;
}

.hljs-string {
  color: #ffbb00 !important;
}

.hljs-addition,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
  color: #dfe231 !important;
}

.hljs-comment,
.hljs-deletion {
  color: #008839 !important;
}

.hljs-meta {
  color: #00ff0d !important;
}
#cnblogs_post_body .toc ul {
  max-height: 550px;
  overflow-y: auto;
}

.cnblogs-markdown .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em !important;
  background: #2b2b2b !important;
  font-size: 14px !important;
  color: #bababa !important;
  font-family: Source Code Pro, Consolas, Menlo, Monaco, Courier New,
	monospace !important;
}
#cnblogs_post_body h1::before {
  content: "H1";
  margin-right: 10px;
  color: gainsboro;
}
#cnblogs_post_body h2::before {
  content: "H2";
  margin-right: 10px;
  color: gainsboro;
}
#cnblogs_post_body h3::before {
  content: "H3";
  margin-right: 10px;
  color: gainsboro;
}
#mainContent #post_detail #cnblogs_post_body h4::before {
  content: "h4";
  margin-right: 10px;
  color: gainsboro;
}
#cnblogs_post_body h5::before {
  content: "h5";
  margin-right: 10px;
  color: gainsboro;
}
#cnblogs_post_body h6::before {
  content: "h6";
  margin-right: 10px;
  color: gainsboro;
}
#cnblogs_post_body td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

#cnblogs_post_body .hljs td {
  border-collapse: inherit;
  min-width: unset;
  padding-left: 20px;
  padding-right: 10px;
}