<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home - UCAS-OJ</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css">

    
</head>
<body>
    <header>
        <nav class="navbar blue sticky-top navbar-dark navbar-expand-md">
            <a class="navbar-brand" href="#">
             UCAS-OJ
            </a>
            <!-- More code here-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Problems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary" href="#">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <img class="card-img-top" src="https://bkimg.cdn.bcebos.com/pic/0df3d7ca7bcb0a46162bebcb6163f6246b60af33?x-bce-process=image/watermark,image_d2F0ZXIvYmFpa2UxMTY=,g_7,xp_5,yp_5">
                        <div class="card-body">
                            <h4 class="card-title"><a>UCAS</a></h4>
                            <p class="card-text">UCAS is a really poor school.</p>
                            <div align="center">
                                <a href="#" class="btn btn-primary">Exactly</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <h4 class="card-header white-text purple">UCAS-OJ Round -1</h4>                        
                        <div class="card-body">
                            <form>
                                <p class="h6 grey-text">Rated register for this contest to get a plunge in your rating.</p>
                                <div class="md-form">
                                    <input type="text" id="fname" class="form-control"/>
                                    <label for="fname">Username</label>
                                </div>
                                <div class="md-form">
                                    <input type="password" id="pwd" class="form-control"/>
                                    <label for="pwd">Password</label>
                                </div>
                                <div class="d-flex justify-content-around">
                                    <input type="submit" class="btn purple white-text" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <h4 class="card-header white-text purple">UCAS-OJ Round -1</h4>                        
                        <div class="card-body">
                            <form>
                                <p class="h6 grey-text">Rated register for this contest to get a plunge in your rating.</p>
                                <div class="md-form">
                                    <input type="text" id="fname" class="form-control"/>
                                    <label for="fname">Username</label>
                                </div>
                                <div class="md-form">
                                    <input type="password" id="pwd" class="form-control"/>
                                    <label for="pwd">Password</label>
                                </div>
                                <div class="d-flex justify-content-around">
                                    <input type="submit" class="btn purple white-text" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <h4 class="card-header white-text purple">UCAS-OJ Round -1</h4>                        
                        <div class="card-body">
                            <form>
                                <p class="h6 grey-text">Rated register for this contest to get a plunge in your rating.</p>
                                <div class="md-form">
                                    <input type="text" id="fname" class="form-control"/>
                                    <label for="fname">Username</label>
                                </div>
                                <div class="md-form">
                                    <input type="password" id="pwd" class="form-control"/>
                                    <label for="pwd">Password</label>
                                </div>
                                <div class="d-flex justify-content-around">
                                    <input type="submit" class="btn purple white-text" value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <h4 class="card-header">Test</h4>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js">
    </script>
</body>

</html>